
    <div class="logo">
      <div class="logo-content">
        <a href="#"> <img class="imgLogo" src="./img/logo.svg" alt=""></a>
      </div>
    </div>
    
    <div class="navegacion">
      <div class="nav-content">
        <a class="inicio" href="#" target="_blank">Inicio </a>
      </div>
      <div class="nav-content">
        <a class="somos" href="#" target="_blank">¿Quienes somos?</a>
      </div>
      <div class="nav-content">
        <a class="cursos" href="#" target="_blank">Cursos</a>
      </div>
      <div class="nav-content">
        <a class="materiales" href="#" target="_blank">Materiales</a>
      </div>
      <div class="nav-content">
        <a class="servicios" href="#" target="_blank">Servicios</a>
      </div>
      <div class="nav-content">
        <a class="contacto" href="#" target="_blank">Contacto</a>
      </div>
    </div>