{% load static %}
    <div class="logo">
        <a href="#"> <img src="{%static 'img/logo.svg'%}" class="logo--img" alt=""></a>
    </div>
    <div class="navegacion">
      <div class="nav-content"> 
        <a class="inicio" href={% url 'home' %} target="_self">Inicio </a>
      </div>
      <div class="nav-content">
        <a class="somos" href={% url 'historia' %} target="_self">Historia</a>
      </div>
      <div class="nav-content">
        <a class="cursos" href={% url 'cursos' %} target="_self">Cursos</a>
      </div>
      <div class="nav-content">
        <a class="materiales" href={% url 'materiales' %} target="_self">Materiales</a>
      </div>
      <div class="nav-content">
        <a class="servicios" href={% url 'servicios' %} target="_self">Servicios</a>
      </div>
      <div class="nav-content">
        <a class="contacto" href={% url 'contactos' %} target="_self">Contacto</a>
      </div>
    </div>