.contenedor__estudiar{
   display: flex;
   flex-direction: row;
   width: 100%;
   background-color: white;
   margin-top: 3rem;
   column-gap: 3p;
   padding: 2rem;
 }
 .estudiar__porque{
   display: flex;
   width: 50%;
   flex-direction: column;
 }
 .estudiar__img{
   width: 50%;
   display: flex;
   justify-content: end;
   flex-direction: row;
 }
 
li{
   font-family: var(--roboto);
   font-weight: var(--regular);
   font-size: 1.6rem;
   text-align: justify;
   margin-top: 2rem;
 }
main{
   margin: 0px !important;
}