.contenedor{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    gap: 10em;
}
.card{
    display: flex;
    flex-direction: column;
    border-radius: 40%;
    
}
.contenedor_img{
    object-fit: cover;
    height: 17rem;

}
.contenedor_po{
    flex-wrap: wrap;
    border-radius: 50px;
    display: flex;
    justify-content: end;
    gap: 2em;
}
.contenedor_categoria{
    text-align: justify;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.card-body{
    background-color: white;
    padding: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.btn.btn-primary{
    background-color: green;

}


