{% extends 'layouts/base.html' %}
{% load static %}
{% block stylesheet %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link rel="stylesheet" href={%static 'css/style.css'%}>
<link rel="stylesheet" href= {%static 'css/curso.css'%}>
{% endblock stylesheet %}

{% block content %}

<div class="cont_desc">
  <div class="contendor_titulo">
    <h1 class="title">
      pc y laptop
    </h1>
  </div>
  <div class="contenedor_descripcion">
    <p class="descripcion">
      Para cursar alguno de los módulos es necesario conocer electrónica analógica y digital ya que los conocimientos se aplican en estos módulos.
    </p>
  </div>
</div>

<div class="cont_mod1">
  <div class="contenedor_tMod1">
    <h1 class="title_mod1">
      Modulo Soporte técnico (6 meses)
    </h1>
  </div>
  <div class="contenedor_descMod1">
    <p class="desc_mod1">En este curso aprender es todas las partes que conlleva el soporte técnico conocerás como configurar, dar soporte y servicios preventivos a: 
  </p>
    <ul>
      <li>Hardware y software.</li>
      <li>Equipos de computo.</li>
      <li>Sistemas Operativos.</li>
      <li>Redes.</li>
      <li>Recuperación de datos.</li>
    </ul>
  </div>
  <div class="contenedor_imgMod1">
    <img class="curso-img" src={% static 'img/recDatos.png' %} alt="">
  </div>

</div>

<div class="cont_mod1">
  <div class="contenedor_tMod1">
    <h1 class="title_mod1">
      Modulo Reparación y Mantenimiento (6 meses)
    </h1>
  </div>
  <div class="contenedor_imgMod1">
    <img class="curso-img" src={% static 'img/tarjetaM.jpg' %} alt="">
  </div>
  <div class="contenedor_descMod1">
    <p class="desc_mod1">En este curso aprenderás como darle mantenimiento y darle una buena reparación a los siguientes dispositivos:
  
    <ul>
      <li>Monitores.</li>
      <li>Tarjetas madres.</li>
      <li>Fuentes de alimentación.</li>
    </ul>
    </p>

    <p class="desc_mod1">También conocerás:
    <ul>
      <li>Recuperación de datos.</li>
      <li>Diagnosticar y solucionar fallas.</li>
      <li>Técnicas de soldaduras.</li>
      <li>Interpretación de diagramas.</li>
      <li>Programación de memorias.</li>
      <li>Métodos de reflow y reballing.</li>
    </ul>
    </p>

  </div>
</div>

<div class="cont_info">
  <div class="contenedor_inicio-cursos">
    <div class="titulo_curso">
      <h1>Inicio de cursos</h1>
    </div>
    <div class="inf_inicio">
      <p>Las clases inician cada:</p>
      <p>Febrero y Agosto</p>
      <br>
      <p>Semanal:</p>
      <p>1 de Agosto del 2022</p>
      <br>
      <p>Sabatino:</p>
      <p>6 de Agosto del 2022</p>
    </div>
    <div class="titulo_curso">
      <h1>cupo limitado</h1>
    </div>

  </div>

  <div class="contenedro_horario">
    <div class="titulo_horario">
      <h1>Horarios</h1>
    </div>
    <div class="inf_horario">
      <p>Lunes y Miércoles</p>
      <p>Matutino: 8 - 10 am</p>
      <p>Vespertino: 7 - 9 pm</p>
      <p class="horario2">Sabatino</p>
      <p>9 am - 2 pm</p>
    </div>
  </div>

  <div class="contenedor_inscripcion">
    <div class="titulo_inscripcion">
      <h1>Inscripción</h1>
    </div>
    <div class="inf_inscripcion">
      <p class="pago_regular">Regular: $500.00</p>
    </div>
    <div class="titulo_inscripcion">
      <h1>Colegiatura Mensual</h1>
    </div>
    <div class="inf_inscripcion">
      <p class="pago_regular2">Pago Regular: $1100.00</p>
      <p class="pago_pronto">Pronto Pago: $990.00</p>
      <p class="desc_pronto">(Primeros 5 días del mes)</p>
    </div>

    <div class="titulo_inscripcion">
      <h1>El costo de colegiatura de los cursos aplica si se toman desde el primer semestre.</h1>
    </div>
  </div>
</div>

  <div class="cont_banner">
    <div class="banner__texto">
      <p class="banner">
        Para más información puedes contactarnos en nuestras redes sociales o    presionar “Me interesa” para mandarnos un correo electrónico.
      </p>
    </div >
    <div class="banner__btn">                
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
     <div class="cont__btn"><img src={% static 'img/sobre.png' %} alt="">  Me interesa </div>
      
    </button>

      <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Curso</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form class="needs-validation" novalidate>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Nombre</label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre" required>
                  <div class="invalid-feedback">Ingrese su nombre</div>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Correo electrónico</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" pattern="^[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{2,5}$" placeholder="name@example.com" required>
                  <div class="invalid-feedback">Example invalid custom select feedback</div>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Número de teléfono</label>
                  <input type="tel" class="form-control" id="exampleFormControlInput1" pattern="^\d{10}$"  placeholder="ej. 0123456789" required>
                  <div class="invalid-feedback">Example invalid custom select feedback</div>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput1">CURP</label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" pattern="^([A-Z][AEIOUX][A-Z]{2}\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])[HM](?:AS|B[CS]|C[CLMSH]|D[FG]|G[TR]|HG|JC|M[CNS]|N[ETL]|OC|PL|Q[TR]|S[PLR]|T[CSL]|VZ|YN|ZS)[B-DF-HJ-NP-TV-Z]{3}[A-Z\d])(\d)$" required>
                  <div class="invalid-feedback">Ingrese su CURP</div>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Mensaje</label>
                  <textarea class="form-control" placeholder="Escribe tu mensaje..." id="exampleFormControlTextarea1" rows="3" required></textarea>
                </div>
             
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
        </form>
        </div>
      </div>
    </div>
  </div>
    </div>
    
  </div>
  <script>
        
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict'
      
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')
      
        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
          form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }
      
            form.classList.add('was-validated')
          }, false)
        })
      })()
            
        </script> 
</div>


{% endblock content %}