{% extends 'layouts/base.html' %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href={%static 'css/style.css'%}>
<link rel="stylesheet" href= {%static 'css/curso_s.css'%}>
{% endblock stylesheet %}

{% block content %}

<h1 class="titulo">Cursos Principales</h1>

<div class="contenedor-cursos">

  {% comment %} <div class="contenedor-card-curso">
    <a href={% url 'curso5' %} target="_self"><img class="img-cursos" src={% static 'img/anaDigit.jpg' %} alt=""></a>
    <div class="titulo_curso">
      <h1>Electrónica Analógica y Digital</h1>
    </div>
  </div>

  <div class="contenedor-card-curso">
    <a href={% url 'curso' %} target="_self"><img class="img-cursos" src={% static 'img/pc_laptop.jpg' %} alt=""></a>
    <div class="titulo_curso">
      <h1>Pc y Laptop</h1>
    </div>
  </div>

  <div class="contenedor-card-curso">
    <a href={% url 'curso3' %} target="_self"><img class="img-cursos" src={% static 'img/audVideo.jpg' %} alt=""></a>
    <div class="titulo_curso">
      <h1>Audio y Video</h1>
    </div>
  </div>
  <div class="contenedor-card-curso">
    <a href={% url 'curso2' %} target="_self"><img class="img-cursos" src={% static 'img/robot.jpg' %} alt=""></a>
    <div class="titulo_curso">
      <h1>Robótica</h1>
    </div>
  </div>
  <div class="contenedor-card-curso">
    <a href={% url 'curso4' %} target="_self"><img class="img-cursos" src={% static 'img/automotriz.jpg' %} alt=""></a>
    <div class="titulo_curso">
      <h1>Automotriz</h1>
    </div>
  </div> {% endcomment %}

  {% for curso in cursos %}
  <a href="{% url 'curso' curso.id %}"> 
  <div class="contenedor-card-curso">
      <img class="img-cursos" src={{curso.imagen.url}} alt=""></a>
      <div class="titulo_curso">
        <h1>{{curso.titulo}}</h1>
      </div>
    </div>  
  </a>
  {% endfor %}
</div>


{% endblock content %}

