{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block hoja_estilos %}<link rel="stylesheet" href= {%static 'css/style.css'%}  >{% endblock hoja_estilos %}    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ejemplo{% endblock title%}</title>

</head>
<body>
    <header>
    {% include 'includes/nav.html' %}
    </header>
    <main>
    {% block content %}

        <h1>asdasdasda</h1>
        <h1>asdasdasda</h1>
        <h1>asdasdasda</h1>
        <h1>asdasdasda</h1>
        <h1>asdasdasda</h1>
        <h1>asdasdasda</h1>


    {% endblock content %}
    </main>
    {% include 'includes/footer.html' %}
</body>
</html>