{% extends 'layouts/base.html' %}
{% load static %}
{% block stylesheet %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link rel="stylesheet" href={%static 'css/style.css'%}> {% comment "" %}Se agrega el estilo principal style.css y el propio de la pagina "historia.css"{% endcomment %}
<link rel="stylesheet" href={%static 'css/home.css'%}>


{% endblock stylesheet %}
{% block content %}
<div class="contenedor-carrusel">
<div class="carousel slide" id="demo-carousel" data-ride="carousel" data-interval="10000">
  <div class="carousel-inner" role="listbox">
    {% for c in carrusel %}
      {% if forloop.first %}
        <div class="carousel-item active">
      {% else %}
        <div class="carousel-item">
      {% endif %}
        {% if c.image %}
          <img class="carrusel__img" src='{{ c.image.url }}' alt="Image">
        {% endif %}
        </div>
    {%endfor%}

<div>
  <button class="carousel-control-prev" type="button" data-bs-target="#demo-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>
</div>
</script><script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>


</div> 

<div class="contenedor__estudiar">
  <div class="estudiar__porque">
    <h1 class="titulo">¿Por qué estudiar con nosotros?</h1>    
        <p class="desc_mod1">Nos distinguen muchas cosas, pero sobre todo:</p>
        <ul>
          <li>Tenemos un sistema de aprendizaje enfocado al campo laboral y a la comunidad estudiantil.</li>
          <li>Más de 15 años de experiencia laboral nos avalán.</li>
          <li>Préstamo de material y herramienta.</li>
          <li>Planes semestrales y horarios flexibles.</li>
          <li>No se requiere ningún grado de estudios previos.</li>
        </ul>
    </div>
    <div class="estudiar__img">
      <img src={% static 'img/home.png' %} alt="">    
    </div>
</div>
{% endblock content %}




