{% extends 'layouts/base.html' %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href={%static 'css/style.css'%}>
<link rel="stylesheet" href= {%static 'css/materiales.css'%}>
{% endblock stylesheet %}
{% block content %}

    

    <div class="container-all">
      <div class="item-title">
        <h1 class="titulo">Catalogo de materiales</h1>
      </div>

      <div class="item-categoria">
        <select class="select-css">
          <option>Todos</option>
          <option>Robótica</option>
          <option>Herramientas</option>
          <option>Cables e insumos</option>
        </select>
      </div>

      <div class="item-materiales">
        <div class="barra-navegacion">
          in
          

        </div>

        <div class="container-materiales">

        </div>
        
      </div>

      
    </div>

{% endblock content %}