{% extends 'layouts/base.html' %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href={%static 'css/style.css'%}>
<link rel="stylesheet" href= {%static 'css/producto.css'%}>
{% endblock stylesheet %}
{% block content %}

<div class="container-material">
  <div class="container-grid">
    <div class="item-title">
      <h1>Teclado Matricial 4X4</h1>
    </div>
    <div class="item-img">
      <img class="img-material" src={% static 'img/teclado_matricial.png' %} alt="">
    </div>
    <div class="item-contenido">
      <div class="parrafo">
        <p class="p-desc">Utiliza este teclado matricial 4 x 4 en tus proyectos con placas de desarrollo o microcontroladores, es útil cuando necesitas colocar algún código numérico en aplicaciones como creación de cajas de seguridad, controles de acceso o en general activación por algún botón del teclado.</p>

        <ul>
          <li> 16 teclas</li>
          <li> 8 pines de conexión</li>
          <li> Cable extra plano</li>
          <li> Membrana semi flexible</li>
        </ul>

        <p class="p-piezas">Piezas disponlibles: 5.</p>

        <p class="p-precio">$ 63.00 MX C/U</p>
      </div>
      
    </div>
  </div>
</div>

{% endblock content %}