{% extends 'layouts/base.html' %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href={%static 'css/style.css'%}>
<link rel="stylesheet" href= {%static 'css/producto.css'%}>
{% endblock stylesheet %}
{% block content %}

<div class="container-material">
  <div class="container-grid">
    <div class="item-title">
      <h1>{{producto.nombre}}</h1>
    </div>
    <div class="item-img">
      <img class="img-material" src={{producto.imagen.url}} alt="">
    </div>
    <div class="item-contenido">
      <div class="parrafo">
        <p class="p-desc">{{producto.descripcion}}</p>    
        <p class="p-piezas">Piezas disponlibles: {{producto.stock}}</p>
        <p class="p-precio">$ {{producto.precio}} MX C/U</p>
      </div>      
    </div>
  </div>
</div>

{% endblock content %}