{% extends 'layouts/base.html' %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href={%static 'css/style.css'%}>
<link rel="stylesheet" href= {%static 'css/producto.css'%}>
{% endblock stylesheet %}
{% block content %}

<div class="container-material">
  <div class="container-grid">
    <div class="item-title">
      <h1>LED Grande 10mm difuso</h1>
    </div>
    <div class="item-img">
      <img class="img-material" src={% static 'img/leds.jpg' %} alt="">
    </div>
    <div class="item-contenido">
      <div class="parrafo">
        <p class="p-desc">Led 10mm difuso disponible en diferentes colores desde Rojo, Verde y Amarillo de acuerdo a los requerimientos de tus proyectos o practicas de electrónica podrás elegir el color que más se ajuste a tus necesidades.</p>

        <ul>
          <li>Ángulo de visión:120°</li>
          <li>Número de pines: 2</li>
          <li>Diámetro de encapsulado: 10mm</li>
          <li>Material de Shell: Epóxico</li>
        </ul>

        <p class="p-piezas">Piezas disponlibles: 5.</p>

        <p class="p-precio">$ 8.00 MX C/U</p>
      </div>
      
    </div>
  </div>
</div>

{% endblock content %}